/* body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/originals/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg");
  background-size: cover;
  background-image: linear-gradient(white);
 
  
} */
body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), 
                    url("https://i.pinimg.com/originals/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color:  #ee67b1;
  border-radius: 10px;
  box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 3.5vw;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 3vw;
  color: #790953;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #333;
}

.options {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
 

}

.option {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #910b7a;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.option:hover {
  background-color: #e9ac29;
  color: #965f0c;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #e96250;
  color: #575504;
  cursor: pointer;
  transition: 0.3s, color 0.3s;
}

button:disabled {
  background-color: #e7d213;
  /* cursor: not-allowed; */
}

button:hover {
  background-color: #ffc853;
}